@mixin xy-grid-container(
  $width: $grid-container,
  $padding: $grid-container-padding
) {
  @include xy-gutters($gutters: $padding, $gutter-type: padding);

  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}
