// footer styles
$component: '.footer';

#{$component} {
    @include xy-grid-container();
    position: relative;
    margin-bottom: 20px;
    font-family: $font-family-display;
    margin-top: 10rem;

    &__inner {
      display: flex;
      align-items: center;
      padding: 25px 0;
      border-top: 3px solid $neutral-darkest;
    }

    &__right-side {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    &__social-icon {
      width: 20px;
      height: 20px;
      margin-left: 15px;
    }
    &__illustration {
      margin-left: auto;
      transform: scaleX(-1);
      height: 50px;
      width: 50px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
}
