// step styles


$component: '.step';


$badge-dimension: 75px;
$badge-buffer: 60px;

$badge-wrapper-dimension: $badge-dimension + $badge-buffer;
$stroke-width: 10px;

#{$component} {
  position: relative;
  padding-left: ($badge-wrapper-dimension / 3) - $stroke-width;
  padding-top: ($badge-wrapper-dimension / 3) - $stroke-width;

  &__badge-wrapper {
    width: $badge-dimension + ($badge-buffer / 2);
    height: $badge-dimension + ($badge-buffer / 2);
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__badge {
    width: $badge-dimension;
    height: $badge-dimension;
    position: absolute;
    // transform: translate(-50%, -50%);
    // left: 50%;
    // top: 50%;
    background: $brand-02;
    display: flex;
    justify-content: center;
    border-radius: 50%;
  }

  &__inner {
    border: $stroke-width solid #F7F7F7;
    padding: 70px 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__number {
    @include heading-1;
    @include font-weight(semi-bold);
    line-height: $badge-dimension;
  }

  &__title {
    @include heading-3;
    @include font-weight(medium);
    align-self: flex-end;
  }

  &__divider {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;

    &::before, &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $brand-02-dark;
    }

    &:before {
      margin-right: 10px;
    }
  }

  &__subtitle {
    display: inline-block;
    font-size: 1.1em;
    // @include font-weight(book);
    margin-bottom: $spacer * 2.5;
  }

  &__text-block {
    & + #{$component}__text-block {
      margin-top: $spacer * 3;
    }

    em {
      @include font-weight(semi-bold);
    }
  }

  &__text {
    @include font-weight(book);
  }
}
