$contact-gutters: (
  small: 10px,
  medium: 75px,
);

$form-gutters: (
  small: 10px,
  medium: 50px,
);

#contact {
  .contact {
    margin-top: $spacer * 5;

    span.info {
      color: $neutral-dark;
      font-size: .9rem;
    }
    @include xy-grid;
    &__form,
    &__info {
      padding: 50px 40px;
      @include xy-cell(100%, $gutter-output: false, $gutters: 0);
      position: relative;
    }

    &__form {
      position: relative;
      min-height: 500px;
      background: $brand-02;
    }

    &__info {


      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &::after {
        content: '';
        width: 120%;
        height: 120%;
        // background-color: transparentize($neutral, 0.4);
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        left: -20%;
      }

      span {
        display: block;
      }

      span + a {
        margin-top: $spacer * 4;
      }

      .contact__telephone {
        display: flex;
        align-items: center;
      }

      .contact__person {
        span:last-of-type {
          color: $neutral-dark;
        }
      }

      .contact__ampersand {
        @include heading-1;
        @include font-weight(medium);
        margin: 0 $spacer * 4;
      }

    }


    .paper-plane {
      position: absolute;
      right: 50px;
      width: 100px;
      height: auto;
      bottom: 0;
      transform: scaleX(-1);

      svg {
        width: 100%;
        height: auto;
      }

      @include breakpoint(small down) {
        display: none;
      }
    }

    @include breakpoint(medium down) {
      &__contact {
        margin-top: $spacer * 10;
      }
    }

    @include breakpoint(medium) {
      &__form,
      &__info {
        padding-top: 50px;
        padding-bottom: 85px;
        padding-left: 60px;
      }

      &__form {
        padding-right: 60px;
      }
    }

    @include breakpoint(large) {
      &__form,
      &__info {
        @include xy-cell(50%, $gutter-output: true, $gutters: $card-gutters);
      }
    }

    @include breakpoint(xlarge) {
        &__form,
        &__info {
          padding-left: 70px;
          @include xy-cell(50%, $gutter-output: true, $gutters: $card-gutters);
        }
        &__form {
          padding-right: 100px;
        }
    }
  }




  .title {
    @include heading-2;
    @include font-weight(book);
    margin-bottom: $spacer * 6;
    em {
      @include font-weight(bold);
    }
  }








  .l-form {

    width: 100%;

    @include xy-grid;
    @include xy-gutters($gutters: $card-gutters, $gutter-type: margin, $negative: true);

    &__field {
      @include xy-cell(100%, $gutter-output: true, $gutters: $card-gutters, $breakpoint: small);
      margin-bottom: $spacer * 5;
    }

    &__submit {
      margin-top: $spacer * 2;
      margin-bottom: 0;
    }

    @include breakpoint(medium) {
      &__field {
        @include xy-cell(50%, $gutter-output: true, $gutters: $card-gutters, $breakpoint: medium);
        &--full {
          @include xy-cell(100%, $gutter-output: true, $gutters: $card-gutters, $breakpoint: medium);
        }
      }
    }
  }
}
