$width-intro: 50%;

$width-illustration-buffer: 14%;
$width-illustration: $width-intro + $width-illustration-buffer;
$illu-block-height: 4.75rem;


#landing {
  .intro {
    width: xy-cell-size($width-intro);
    padding: 54px 63px 77px;
    background-color: $brand-02;
    @include headings {
      & + p {
        margin-top: $spacer * 4;
      }
    }

    .cta {
      margin-top: $spacer * 10;
    }


  }
  .illustration {
    height: 90%;
    position: relative;
    // background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    width: xy-cell-size($width-illustration);
    img {
      position: absolute;
      width: auto;
      height: 100%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }


    &:after {
      position: absolute;
      content: '';
      display: block;
      height: $illu-block-height;
      bottom: -$illu-block-height / 2;
      right: -3.125rem;
      width: 22.5rem;
      background-color: $neutral;
      z-index: -1;
    }
  }

  .intro, .illustration {
    flex-shrink: 0;
    position: relative;
  }


  .cover {
    @include xy-grid(horizontal, false);
    width: 100%;
    align-items: center;
  }

  @include breakpoint(small down) {

  }


  @include breakpoint(medium) {

    .section {
      min-height: 80vh;
      display: flex;
    }

    .intro {
      order: 1;
    }

    .illustration {
      order: 2;
    }

    .illustration {
      margin-left: -$width-illustration-buffer;
    }
  }
}
