#landing {
  display: flex;
  @include xy-grid-container();

  .intro {
    width: xy-cell-size(50%);
    padding: 54px 63px 77px;
    background-color: $brand-01;
    @include headings {
      & + p {
        margin-top: $spacer * 4;
      }
    }


  }
  .illustration {
    width: xy-cell-size(100%);
  }

  .intro, .illustration {
    flex-shrink: 0;
  }


  .section {
    @include xy-grid(horizontal, false);
    width: 100%;
    align-items: center;
  }


  @include breakpoint(medium) {
    min-height: 80vh;
  }
}
