$card-gutters: (
  small: 10px,
  medium: 40px,
);


#team {
  .team {
    @include xy-grid;
    @include xy-gutters($gutters: $card-gutters, $gutter-type: margin, $negative: true);

    .cell {
      @include xy-cell(100%, $gutter-output: true, $gutters: $card-gutters, $breakpoint: small);

      & + .cell {
        margin-top: $spacer * 10;
      }
      &:last-child {
        justify-content: flex-end;
        // .person {
        //   margin-left: auto;
        // }
      }
    }
  }

  @include breakpoint(medium) {
    .team {
      margin-top: $spacer * 5;
      align-items: flex-start;
      padding-bottom: $spacer * 10;
      .cell {
        width: 100%;
        @include xy-cell(1/2, $gutter-output: true, $gutters: $card-gutters);
        display: flex;
        justify-content: center;


        &:nth-child(even) {
          margin-top: 100px;
        }

        &.full {
          position: relative;
          
          &::before {
            width: 100%;
            height: 40%;
            z-index: -1;
            background: $brand-02;
            content: '';
            position: absolute;
            right: 20%;
            top: -10%;
      
            @include breakpoint(small down) {
              right: -20%;
              top: -10%;
            }
          }

          &::after {
            width: 25px;
            height: 90%;
            top: 20%;
            content: '';
            position: absolute;
            background: $neutral;
            right: -(25px / 2);
          }
          margin-top: $spacer * 30;
          @include xy-cell(100%, $gutter-output: true, $gutters: $card-gutters);
        }
      }
    }
  }
}
