
/**
 *
 * All styles related to typography
 *
 */

@mixin display-1 {
  font-family: $font-family-display;
  font-size: 3.4375rem;
  line-height: 4.5625rem;
  font-weight: 500;

  @include breakpoint(small down) {
    font-size: 2.375rem;
  }
}



@mixin heading-1 {

  font-size: 1.5rem;
  line-height: 1.75rem;
  @include breakpoint(small down) {
    font-size: calc(1.5rem/1.2);
  }
}

@mixin body {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: inherit;
}

@mixin button-type {
  @include body;
  font-family: $font-family-display;
}

@mixin body-emphasis {

}


.highlight {
  color: $brand-01;
}

h1 {
  @include heading-1;
}

.display-1 {
  @include display-1;
}




