// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'reset';

@import 'settings/settings';
@import 'settings/foundation-overrides';
@import 'mixins/mixins';
@import 'core/typography';
@import 'settings/global';




// Import Modules
@import '../_modules/link/link';
@import '../_modules/header/header';
@import '../_modules/footer/footer';

@import '../_modules/atoms/section-title/section-title';
@import '../_modules/organisms/feature-card/feature-card';




// Import pages (sections)
@import './pages/landings';
@import './pages/features';



.svg-sprites {
  height: 0;
  width: 0;
}

section {
  display: flex;
  flex-direction: column;
  @include xy-grid-container();
  margin-bottom: 8.75rem;

  .section-title {
    margin-bottom: $spacer * 10;
  }
}
