// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'reset';

@import 'vendors/vendors';

@import 'settings/settings';
@import 'settings/foundation-overrides';
@import 'mixins/mixins';
@import 'core/typography';
@import 'settings/global';




// Import Modules
@import '../_modules/link/link';
@import '../_modules/header/header';
@import '../_modules/footer/footer';

@import '../_modules/atoms/section-title/section-title';
@import '../_modules/atoms/inputfield/inputfield';


@import '../_modules/organisms/feature-card/feature-card';
@import '../_modules/organisms/step/step';
@import '../_modules/organisms/table/table';
@import '../_modules/organisms/info-block/info-block';
@import '../_modules/organisms/person-card/person-card';



// Import pages (sections)
@import './pages/landings';
@import './pages/features';
@import './pages/steps';
@import './pages/pricing';
@import './pages/team';
@import './pages/contact';



.svg-sprites {
  height: 0;
  width: 0;
  display: block;
}

section {
  display: flex;
  flex-direction: column;
  @include xy-grid-container();
  overflow: hidden;
  margin-bottom: $spacer * 13;

  .section-title {
    margin-bottom: $spacer * 8;
  }

  @include breakpoint(medium) {
    margin-bottom: $spacer * 17;
    .section-title {
      margin-bottom: $spacer * 10;
    }
  }
}




/*=============================================
=                Vendor Overrides             =
=============================================*/
.toastify {
  box-shadow: 0px 9px 30px rgba(200, 200, 200, 0.3);
  background: $dark;

  .title {
    @include heading-4;
    @include font-weight(medium);
    color: $dark;
  }
  .text {
    color: $neutral-darkest;
  }

  .text,
  .title {
    color: white;
  }
}


/*=====  End of Section comment block  ======*/


