$brand-01: #E5F2F3;
$brand-02: #FAF2E8;


$neutral: #F8FAFB;
$dark: #16171E;


$neutral: #F0F0F0;
$neutral-darker: #727272;



$spacer: 0.5rem;
$border-radius: 5px;


$box-shadow-level-01: 0px 4px 50px rgba(0, 0, 0, 0.1);


$font-family-display: 'futura-pt', sans-serif;
$font-family-global: 'gill-sans-nova', sans-serif;
$font-base-color: $dark;
